html, body, .full-screen {
    width: 100%;
    height: 100%;
}

.item-image-container {
    background-color: black;
    overflow: hidden;
}

.item-image {
    img {
        display: block;
    }
}

.btn-zoom {
    position: absolute;
    top: 10px;
    left: 10px;

    .glyphicon-zoom-in {
        display: inline-block;
    }

    .glyphicon-zoom-out {
        display: none;
    }

    &.btn-zoom-zoomed {
        .glyphicon-zoom-in {
            display: none;
        }

        .glyphicon-zoom-out {
            display: inline-block;
        }
    }
}