.media-grid {
    .col-md-3:nth-child(4n) {
        clear: left;
    }

    .col-md-3:nth-child(4) {
        clear: none;
    }
}

.media-grid-thumb {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    @include bg-cover;
}