{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="header-image">
    <div class="header-image-background"
         style="background-image:url('{{article.firstimage.thumb}}')"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header-image-avatar"
                     style="background-image:url('{{article.thumbnail.url}}')"></div>
            </div>

            <div class="col-md-9">
                <div class="header-image-text">
                    {% if item.labels %}
                    <h1>{{item.labels}}</h1>
                    {% endif %}

                    {% if item.descriptions %}
                    <p class="lead">{{item.descriptions}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'wikipedia-article.html' %}

{% include 'footer.html' %}