{{> header}}

<div class="header-image">
    <div class="header-image-background"
         style="background-image:url('{{article.firstimage.thumb}}')"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header-image-avatar"
                     style="background-image:url('{{article.thumbnail.url}}')"></div>
            </div>

            <div class="col-md-9">
                <div class="header-image-text">
                    {{#item.labels}}
                    <h1>{{.}}</h1>
                    {{/item.labels}}

                    {{#item.descriptions}}
                    <p class="lead">{{.}}</p>
                    {{/item.descriptions}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light bg-spaced">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{{article.text}}}
            </div>

            <div class="col-md-4">
                {{#article.images}}
                    <img src="{{thumb}}" class="img-thumbnail buffer-bottom-1">
                {{/article.images}}
            </div>
        </div>
    </div>
</div>

{{> footer}}