{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="header-image">
    <div class="header-image-background" style="background-image:url('{{item.works[0].image.thumb}}')"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header-image-avatar"
                     style="background-image:url('{{item.image.thumb}}')"></div>
            </div>

            <div class="col-md-9">
                <div class="header-image-text">
                    <h1>{{item.labels}}</h1>

                    <h3 class="text-muted">
                        {% if item.placeOfBirth %}
                            <a href="{{item.placeOfBirth.id}}">{{item.placeOfBirth.label}}</a>
                        {% endif %}

                        {% if item.dateOfBirth %}
                            {{item.dateOfBirth.year}}
                        {% endif %}

                        -

                        {% if item.placeOfDeath %}
                            <a href="{{item.placeOfDeath.id}}">{{item.placeOfDeath.label}}</a>
                        {% endif %}

                        {% if item.dateOfDeath %}
                            {{item.dateOfDeath.year}}
                        {% endif %}
                    </h3>

                    <p class="lead">{{item.descriptions}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light bg-spaced media-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Works by {{item.labels}}</h2>

                {% for work in item.works %}
                <a class="col-md-3" href="work/{{work.id}}">
                    <span class="media-grid-thumb" style="background-image:url('{{work.image.thumb}}')"></span>

                    <h3>
                        {{work.labels}}
                        {{work.year}}
                    </h3>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include 'wikipedia-article.html' %}

{% include 'footer.html' %}