{{> header}}

<div class="header-image">
    <div class="header-image-background" style="background-image:url('{{item.works.0.image.thumb}}')"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header-image-avatar"
                     style="background-image:url({{item.image.thumb}})"></div>
            </div>

            <div class="col-md-9">
                <div class="header-image-text">
                    <h1>{{item.labels}}</h1>

                    <h3 class="text-muted">
                        {{#item.placeOfBirth}}
                            <a href="{{id}}">{{label}}</a>
                        {{/item.placeOfBirth}}

                        {{#item.dateOfBirth}} ({{year}}) {{/item.dateOfBirth}}

                        -

                        {{#item.placeOfDeath}}
                            <a href="{{id}}">{{label}}</a>
                        {{/item.placeOfDeath}}

                        {{#item.dateOfDeath}} ({{year}}) {{/item.dateOfDeath}}
                    </h3>

                    <p class="lead">{{item.descriptions}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light bg-spaced media-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Works by {{item.labels}}</h2>

                {{#item.works}}
                <a class="col-md-3" href="work/{{id}}">
                    <span class="media-grid-thumb" style="background-image:url('{{image.thumb}}')"></span>

                    <h3>
                        {{#labels}} {{labels}} {{/labels}}
                        {{#year}} ({{year}}) {{/year}}
                    </h3>
                </a>
                {{/item.works}}
            </div>
        </div>
    </div>
</div>

<div class="bg-dark bg-spaced">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{#article}}
                    {{{article.text}}}
                {{/article}}
            </div>

            <div class="col-md-4">
                {{#article.images}}
                    <img src="{{thumb}}" class="img-thumbnail buffer-bottom-1">
                {{/article.images}}
            </div>
        </div>
    </div>
</div>

{{> footer}}