{{> header}}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="header-logotype">The Sum of All Paintings</h1>

            <p class="lead">
                A project to visualize the paintings getting added to <a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_sum_of_all_paintings">Wikidata</a>.
            </p>

            <h2>Examples</h2>

            <ul class="list-unstyled">
                <li><a href="{{root}}work/219831">The Night Watch</a></li>
                <li><a href="{{root}}work/1170315">Black Square</a></li>
                <li><a href="{{root}}work/157541">Sunflowers</a></li>
            </ul>
        </div>
    </div>
</div>

{{> footer}}