{% include 'header.html' %}

<div class="container container-fill-home">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="header-logotype">
                <a href="{{root}}">The Sum of All Knowledge</a>
            </h1>

            <p class="lead">
                A project to visualize the knowledge getting added to <a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_sum_of_all_paintings">Wikidata</a>, <a href="http://wikipedia.org">Wikipedia</a> and <a href="http://commons.wikimedia.org">Wikimedia Commons</a>.
            </p>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <form method="get" action="{{root}}" class="buffer-4">
                <div class="input-group input-group-lg">
                    <input type="text"
                           id="q"
                           name="q"
                           class="form-control"
                           placeholder="Search 13,000,000 items"
                           value="{{q}}"
                    >

                    <div class="search-clear search-clear-lg"
                          data-action="clearinput"
                          data-target="#q"
                    >
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </div>

                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>

            {% if searchresults %}
                <p>Results for <strong>{{q}}</strong>:</p>
                <ul class="list-unstyled text-left">
                    {% for item in searchresults %}
                    <li class="buffer-bottom-1">
                        <a href="{{item.id}}">
                            <strong>{{item.label}}</strong><br />
                            {{item.description}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                {% if isSearch %}
                    <div class="alert alert-info">
                        No items found for "<strong>{{q}}</strong>".
                    </div>
                {% else %}
                    <h2 class="buffer-top-4 text-center">Featured examples</h2>

                    <div class="row buffer-bottom-4">
                        {% for item in featured %}
                        <div class="col-md-4">
                            <a href="{{root}}/{{item.id}}">
                                <h3>{{item.label}}</h3>
                                <div class="media-grid-thumb"
                                     style="background-image:url('{{item.image}}')"
                                ></div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<footer class="container buffer-top-2">
    <div class="row">
        <ul class="list-inline text-center">
            <li>Powered by <a href="http://www.wikimedia.org">the Wikimedia movement</a></li>
            <li>Developed by <a href="http://www.twitter.com/hayify">Hay Kranen</a></li>
            <li>All code of this project is available on <a href="http://github.com/hay/sum">Github</a></li>
        </ul>
    </div>
</footer>

{% include 'footer.html' %}