{{> header}}

<div class="header-image">
    <div class="header-image-background"
         style="background-image:url({{workThumb}})"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header-image-avatar"
                     style="background-image:url({{thumb}})"></div>
            </div>

            <div class="col-md-9">
                <div class="header-image-text">
                    <h1>{{label}}</h1>

                    <p class="lead">{{description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-dark bg-spaced">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="lead lead-abstract">{{longdescription}}</p>
                <a href="" data-action="readCompleteLead">Read more... &raquo;</a>
            </div>

            <div class="col-md-4">
                <p><strong>
                    {{#territory}}
                        Located in {{territory}}
                        {{#country}}
                            ({{country}})
                        {{/country}}
                    {{/territory}}
                </strong></p>

                <img src="//maps.googleapis.com/maps/api/staticmap?center={{location.latitude}},{{location.longitude}}&zoom=14&size=300x300&markers=color:blue|label={{label}}|{{location.latitude}},{{location.longitude}}" width="100%">
            </div>
        </div>
    </div>
</div>

{{#hasWorks}}
<div class="bg-light bg-spaced media-grid">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Works in {{label}}</h2>

            {{#works}}
            <a class="col-md-3" href="work/{{id}}">
                <span class="media-grid-thumb" style="background-image:url({{thumb}})"></span>

                <h3>
                    {{#label}} {{label}} {{/label}}
                    {{#year}} ({{year}}) {{/year}}
                </h3>
            </a>
            {{/works}}
        </div>
    </div>
</div>
{{/hasWorks}}

{{> footer}}