{% import "macros.html" as macros %}
{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="header-image">
    <div class="header-image-background" style="background-image:url('{{item.works[0].image.thumb}}')"></div>    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header-image-avatar"
                     style="background-image:url('{{item.image.thumb}}')"></div>
            </div>

            <div class="col-md-9">
                <div class="header-image-text">
                    <h1>{{item.labels}}</h1>

                    <p class="lead">{{item.descriptions}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{ macros.querylist("Works in", item) }}

<div class="media-grid-thumb" style="background-image:url('//maps.googleapis.com/maps/api/staticmap?center={{item.location.0.latitude}},{{item.location.0.longitude}}&amp;zoom=14&amp;size=1200x300&amp;markers=color:blue|label={{item.labels}}|{{item.location.0.latitude}},{{item.location.0.longitude}}')"></div>

{% include 'wikipedia-article.html' %}
{% include 'navbar-footer.html' %}
{% include 'footer.html' %}