{% include 'header.html' %}

<div class="header-image">
    <div class="header-image-background" style="background-image:url('{{item.works[0].image.thumb}}')"></div>    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header-image-avatar"
                     style="background-image:url('{{item.image.thumb}}')"></div>
            </div>

            <div class="col-md-9">
                <div class="header-image-text">
                    <h1>{{item.labels}}</h1>

                    <p class="lead">{{item.descriptions}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light bg-spaced media-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Works in {{item.labels}}</h2>

                {% for work in item.works %}
                <a class="col-md-3" href="work/{{work.id}}">
                    <span class="media-grid-thumb" style="background-image:url('{{work.image.thumb}}')"></span>

                    <h3>
                        {{work.labels}}
                        {{work.year}}
                    </h3>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="media-grid-thumb" style="background-image:url('//maps.googleapis.com/maps/api/staticmap?center={{item.location.0.latitude}},{{item.location.0.longitude}}&amp;zoom=14&amp;size=1200x300&amp;markers=color:blue|label={{item.labels}}|{{item.location.0.latitude}},{{item.location.0.longitude}}')"></div>

<div class="bg-dark bg-spaced">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% autoescape false %}
                    {{article.text}}
                {% endautoescape %}
            </div>

            <div class="col-md-4">
                {% for image in article.images %}
                    <img src="{{image.thumb}}" class="img-thumbnail buffer-bottom-1">
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}