{% macro dlitem(label, items) %}
    {% if items|length > 0 %}
        <dt>{{label}}</dt>
        <dd>
            <ul class="list-unstyled">
            {% for item in items %}
                {% if item.id %}
                    <li>
                        <a href="{{item.id}}">{{item.label}}</a>
                    </li>
                {% else %}
                    {{item}}
                {% endif %}
            {% endfor %}
            </ul>
        </dd>
    {% endif %}
{% endmacro %}

{% macro itemprop(label, items) %}
    {% if items %}
    <div class="itemprop">
        <strong>{{label}}:</strong>
        {% for item in items %}
            {% if item.id %}
                <a href="{{item.id}}">{{item.label}}</a>{% if not loop.last %},{% endif %}
            {% else %}
                {{item}}
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endmacro %}