<article class="wikipedia-article bg-light bg-spaced">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% autoescape false %}
                    {{article.text}}
                {% endautoescape %}
            </div>

            <div class="col-md-4">
                {% for image in article.images %}
                    <img src="{{image.thumb}}"
                         class="img-zoomable img-thumbnail buffer-bottom-1"
                         data-fullsize="{{image.url}}"
                    >
                {% endfor %}
            </div>
        </div>
    </div>
</article>