{{> header}}

{{#image}}
    <div class="full-screen item-image-container">
        <div class="item-image" data-src="{{image}}"></div>

        <button class="btn btn-default btn-lg btn-zoom">
            <span class="glyphicon glyphicon-zoom-in"></span>
            <span class="glyphicon glyphicon-zoom-out"></span>
        </button>
     </div>
{{/image}}

{{^image}}
<div class="container">
    <h1>No image available.</h1>
</div>
{{/image}}

<div class="bg-dark ">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>{{title}}</h1>

                <p class="text-muted">{{method}}</p>

                <p class="lead">{{description}}</p>
            </div>

            <div class="col-md-3">
                <br><br>
                <a href="{{image}}" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-download"></span>
                    Download
                </a>

                <a href="http://wikidata.org/wiki/Q{{id}}" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-barcode"></span>
                    Edit
                </a>
            </div>
        </div>
    </div>
</div>

<div class="bg-light bg-spaced">
    <div class="container">
        <div class="row">
            {{#longdescription}}
            <div class="col-md-6">
                <p class="lead">{{longdescription}}</p>
            </div>
            {{/longdescription}}

            {{#longdescription}}
            <div class="col-md-6">
            {{/longdescription}}

            {{^longdescription}}
            <div class="col-md-12">
            {{/longdescription}}
                <div class="dl-horizontal">
                    {{#museum}}
                    <dt>Museum</dt>
                    <dd>{{museum}}</dd>
                    {{/museum}}

                    {{^museum}}
                        {{#locatedIn}}
                        <dt>Located in</dt>
                        <dd>{{locatedIn}}</dd>
                        {{/locatedIn}}

                        {{#collection}}
                        <dt>Collection</dt>
                        <dd>{{collection}}</dd>
                        {{/collection}}
                    {{/museum}}

                    {{#country}}
                    <dt>Country</dt>
                    <dd>{{country}}</dd>
                    {{/country}}

                    {{#instanceOf}}
                    <dt>Type of item</dt>
                    <dd>{{instanceOf}}</dd>
                    {{/instanceOf}}

                    {{#movement}}
                    <dt>Movement</dt>
                    <dd>{{movement}}</dd>
                    {{/movement}}

                    {{#genre}}
                    <dt>Genre</dt>
                    <dd>{{genre}}</dd>
                    {{/genre}}

                    {{#depicts}}
                    <dt>People on this painting</dt>
                    <dd>{{depicts}}</dd>
                    {{/depicts}}

                    {{#materialsUsed}}
                    <dt>Materials used</dt>
                    <dd>{{materialsUsed}}</dd>
                    {{/materialsUsed}}

                    {{#inventoryNr}}
                    <dt>Inventory number</dt>
                    <dd>{{inventoryNr}}</dd>
                    {{/inventoryNr}}

                    {{#iconclass}}
                    <dt>Iconclass code</dt>
                    <dd>{{iconclass}}</dd>
                    {{/iconclass}}
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}