{% include 'header.html' %}

{% if item.image %}
<div class="full-screen item-image-container">
    <div class="item-image full-screen" data-src="{{item.image.full}}"></div>
</div>
{% else %}
<div class="container">
    <h1>No image available.</h1>
</div>
{% endif %}

<div class="bg-dark">
    <div class="container">
        <div class="row buffer-1">
            <div class="col-md-9">
                <h1>{{item.labels}}</h1>

                <p class="text-muted">{{item.method}}</p>

                <p class="lead">{{item.descriptions}}</p>
            </div>

            <div class="col-md-3 buffer-4">
                <a href="{{item.image.full}}?download" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-download"></span>
                    Download
                </a>
            </div>
        </div>
    </div>
</div>

<div class="bg-light bg-spaced">
    <div class="container">
        <div class="row">
            {% if article %}
            <div class="col-md-6">
                {% autoescape false %}
                    {{article.text}}
                {% endautoescape %}
            </div>

            <div class="col-md-6">
            {% else %}
            <div class="col-md-12">
            {% endif %}

                {% if item.creator %}
                    {% for creator in item.creator %}
                        <a href="{{creator.id}}" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-eye-open"></span>
                             More works by <strong>{{creator.label}}</strong>
                        </a>
                    {% endfor %}
                {% endif %}

                <br><br>

                <div class="dl-horizontal">
                    {% import "macros.html" as macros %}

                    {{ macros.dlitem("Collection", item.collection) }}
                    {{ macros.dlitem("Located in", item.locatedin) }}
                    {{ macros.dlitem("Country", item.country) }}
                    {{ macros.dlitem("Type of item", item.instanceOf) }}
                    {{ macros.dlitem("Genre", item.genre) }}
                    {{ macros.dlitem("On this painting", item.depicts) }}
                    {{ macros.dlitem("Materials used", item.materialsUsed) }}
                    {{ macros.dlitem("Inventory number", item.inventoryNr) }}
                    {{ macros.dlitem("Iconclass code", item.iconclass) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}