{{> header}}

{{#item.image}}
<div class="full-screen item-image-container">
    <div class="item-image full-screen" data-src="{{full}}"></div>
</div>
{{/item.image}}

{{^item.image}}
<div class="container">
    <h1>No image available.</h1>
</div>
{{/item.image}}

<div class="bg-dark">
    <div class="container">
        <div class="row buffer-1">
            <div class="col-md-9">
                <h1>{{item.labels}}</h1>

                <p class="text-muted">{{item.method}}</p>

                <p class="lead">{{item.descriptions}}</p>
            </div>

            <div class="col-md-3 buffer-4">
                <a href="{{item.image.full}}?download" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-download"></span>
                    Download
                </a>
            </div>
        </div>
    </div>
</div>

<div class="bg-light bg-spaced">
    <div class="container">
        <div class="row">
            {{#article}}
            <div class="col-md-6">
                {{{text}}}
            </div>
            {{/article}}

            {{#article}}
            <div class="col-md-6">
            {{/article}}

            {{^article}}
            <div class="col-md-12">
            {{/article}}

                {{#item.creator}}
                <a href="{{id}}" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-eye-open"></span>
                     More works by <strong>{{label}}</strong>
                </a>
                {{/item.creator}}

                <br><br>

                <div class="dl-horizontal">
                    {{#item.collection}}
                    <dt>Collection</dt>
                    <dd><a href="{{id}}">{{label}}</a></dd>
                    {{/item.collection}}

                    {{#item.locatedin}}
                    <dt>Located in</dt>
                    <dd><a href="{{id}}">{{label}}</a></dd>
                    {{/item.locatedin}}

                    {{#item.country}}
                    <dt>Country</dt>
                    <dd><a href="{{id}}">{{label}}</a></dd>
                    {{/item.country}}

                    {{#item.instanceOf}}
                    <dt>Type of item</dt>
                    <dd><a href="{{id}}">{{label}}</a></dd>
                    {{/item.instanceOf}}

                    {{#item.movement}}
                    <dt>Movement</dt>
                    <dd><a href="{{id}}">{{label}}</a></dd>
                    {{/item.movement}}

                    {{#item.genre}}
                    <dt>Genre</dt>
                    <dd><a href="{{id}}">{{label}}</a></dd>
                    {{/item.genre}}

                    {{#item.depicts}}
                    <dt>On this painting</dt>
                    <dd><a href="{{id}}">{{label}}</a></dd>
                    {{/item.depicts}}

                    {{#item.materialsUsed}}
                    <dt>Materials used</dt>
                    <dd><a href="{{id}}">{{label}}</a></dd>
                    {{/item.materialsUsed}}

                    {{#item.inventoryNr}}
                    <dt>Inventory number</dt>
                    <dd>{{inventoryNr}}</dd>
                    {{/item.inventoryNr}}

                    {{#item.iconclass}}
                    <dt>Iconclass code</dt>
                    <dd>{{.}}</dd>
                    {{/item.iconclass}}

                    {{#item.inventoryNr}}
                    <dt>Inventory number</dt>
                    <dd>{{.}}</dd>
                    {{/item.inventoryNr}}
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}
